#xep-bau-cua img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    cursor: pointer;
    padding: 20px;

}

#xep-bau-cua img:hover {
    padding: 20px;
}

#xep-bau-cua{
    margin-left: 22%;
    margin-top: 10%;
}



#ket-qua-bau-cua img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    cursor: pointer;
}

#ket-qua-bau-cua{
    margin-left: 35%;
    margin-top: 5%;
}

.so-bau-cua{
    position: absolute;
    font-size:12px;
    /* background-color:black; */
    width:20px;
    height:20px;
    color:black;
    margin-top: -5px;
    padding-left: 4px;
    font-size: 24px;
    padding-bottom: 4px;
    }

.order{
    display: inline-block;
    /* position: relative; */
    /* width:64px; */
}

#quay {
    margin-left: 90%;
    background-color: rgb(113, 207, 132) !important;
}

#ket-qua-in-chu{

    font-size: 24px;
    color: red;
}

.note{
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top : 50px;
}

#datLai{
    margin-left: 27%; 
    background-color: rgb(113, 207, 132) !important;

}